<div id="about" class="body position">
    <div class="section pic">
        <img src="assets/me.png" alt="profile" width="95%" class="me">
    </div>
    <div class="section banner">
        <div class="face">
            <h1 class="header">About Me</h1>
            <p>As an aspiring designer, I want to be a part of a company or
                community where I can freely express my creative skills and see
                the visionary plans made as a group turn into reality. I would also
                like to develop the skills and learn a lot of new essential
                knowledge from the community.</p>
        </div>
        <div class="face">
            <h5 class="header" [style.color]="'#2C3140'">Expertise</h5>
            <div class="expertise">
                <p class="white blue">Visual design</p>
                <p class="white red">Illustration</p>
                <p class="white yellow">Digital art</p>
                <p class="white blue">Web design</p>
                <p class="white red">Coding</p>
            </div>
        </div>
    </div>
    <!-- <p>About works</p> -->
</div>