<div class="footer violet">
    <div class="contact">
        <h1 class="header">Keep in touch!</h1>
        <div class="flex">
            <img src="assets/email.png" alt="Email">
            <div class="p">
                <p>kylaodvina01@gmail.com</p>
            </div>
        </div>
        <div class="flex">
            <img src="assets/hau.png" alt="HAU">
            <div class="p">
                <p>krodvina@student.hau.edu.ph</p>
            </div>
        </div>
        <div class="flex">
            <img src="assets/phone-call.png" alt="Phone">
            <div class="p">
                <p>+63 961 082 2509</p>
            </div>
        </div>
        <div class="flex">
            <img src="assets/instagram.png" alt="Instagram">
            <div class="p">
                <p>@kai_kylala</p>
            </div>
        </div>

        <div class="note">
            <p style="color: #F26938">
                This portfolio is developed using Angular
            </p>
        </div>
    </div>