<div class="body column">
    <div class="notice">
        <div class="section banner">
            <h1 class="sorry">Sorry!</h1>
            <p class="par">This page is still in developing process</p>
            <p class="par">Please come back in another time</p>
        </div>

        <div class="section logo">
            <img src="assets/logo face.png" alt="profile" class="img">
        </div>
    </div>

    <div class="cover">

    </div>
    <h1 class="header header_container">MK House Consultancy</h1>
    <div class="">
        <div class="main_cover">
            <img src="/assets/mk_house/cover_photo.png" class="pic_main_cover" alt="Home page of MK House Consultancy">
        </div>
    </div>
</div>