<div id="welcome" class="body bckgrnd flex">
    <!-- <div class=""> -->
    <div class="section banner">
        <div class="welcome">
            <h1>Welcome!</h1>
        </div>

        <div class="intro">
            <p class="">I'm</p><img src="assets/kyla.png" alt="Kyla" height="30" class="name">
            <p class="" style="color: #FF6F27;">Odvina </p>
            <p class=""> and I'm a </p>
            <p class="" style="color: #FF6F27;"> Web Designer</p>
        </div>
    </div>

    <div class="section logo">
        <img src="assets/logo face.png" alt="profile" class="img">
    </div>
    <!-- </div> -->
</div>

<app-about></app-about>
<app-skills></app-skills>
<app-education></app-education>
<app-project></app-project>