.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li a img {
    /* height: 24px; */
    transition: filter 0.3s ease;
}

.navbar ul li a img:hover {
    filter: brightness(150%) saturate(50%);
}

@media screen and (max-width: 900px) {
    .navbar {
        padding-top: 1px;
        /* padding-bottom: 10px; */
    }
}