<div class="navbar navbar-expand-lg fixed-top nav violet">
    <div>
        <a class="navbar-brand" href="#welcome">
            <img src="assets/logo.png" alt="logo" height="30" class="d-inline-block align-text-top">
        </a>
    </div>

    <div>
        <ul class="navbar">
            <li class="nav-link">
                <a class="profile" aria-current="page" href="#about">
                    <img src="assets/profile.png" alt="profile" height="24" class="d-inline-block align-text-top">
                </a>
            </li>
            <li class="nav-link">
                <a class="skill" aria-current="page" href="#skills">
                    <img src="assets/skill.png" alt="skill" height="24" class="d-inline-block align-text-top">
                </a>
            </li>
            <li class="nav-link">
                <a class="educ" aria-current="page" href="#education">
                    <img src="assets/book.png" alt="book" height="24" class="d-inline-block align-text-top">
                </a>
            </li>
            <li class="nav-link">
                <a class="achieve" aria-current="page" href="#achievement">
                    <img src="assets/medal.png" alt="medal" height="24" class="d-inline-block align-text-top">
                </a>
            </li>
            <li class="nav-link">
                <a class="project" aria-current="page" href="#project">
                    <img src="assets/project.png" alt="project" height="24" class="d-inline-block align-text-top">
                </a>
            </li>
        </ul>
    </div>
</div>